.header {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.button + .button {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
}

.button img{
    width: 20%;

}

.button.active {
    background-color: rgb(234, 234, 234);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}